@charset 'UTF-8';
@import url("font-awesome.min.css");
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,700|Open+Sans+Condensed:300,700");

/*General*/
html,body {
	height: 100%;
}
body {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 12pt;
	line-height: 1.75em;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700;
	color: #232323;
}
body,input,textarea,select {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	color: #565656;
}
h1 {
	font-size: 3.25em;
	line-height: 1.25em;
	margin-bottom: 0.5em;
}
h2 {
	font-weight: 700;
	font-size: 2em;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}
h2 a {
	color: #fff;
}
h3 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 300;
	margin-bottom: 0.5em;
	color: #999;
	font-size: 2.25em;
	line-height: 1.5em;
}
h4 {
	font-size: 1.2em;
	color: #fff;
	margin-bottom: 1.25em;
}
a {
	text-decoration: none;
}
p {
	font-size: 100%;
	margin-bottom: 0.3em;
}
img {
	margin-bottom: 0.3em;
}

/*Layout*/

.l-container
{
	min-height: 100%;
	background-color: #364050;
}
.l-sidebar
{
	float: right;
	width: 15%;
	padding: 50px 20px;
}
.l-sidebar a {
	color: #d4dde0;
}
.l-content
{
	float: left;
	width: 85%;
	background-color: #e8e8e8;
	box-shadow: 0 0 0.25em 0em rgba(0,0,0,0.25);
	min-height: 1500px;
}
.articles {
	margin-left: 10%;
	padding: 50px 80px;
	min-height: 100%;
	width: 90%;
	background-color: #fff;
	box-shadow: 0 0 0.25em 0em rgba(0,0,0,0.25);
	min-height: 1500px;
}
.article {
	padding-top: 50px;
	position: relative;
	background-color: #fff;
}
.article-tag {
	padding: 10px;
	padding-right: 0;
	position: absolute;
	left: -160px;
	top: 0;
	width: 80px;
	background-color: #fff;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	box-shadow: 0.25em 0 0 0 #fff, 0 0 0.25em 0em rgba(0,0,0,0.25);
	box-shadow-right: none;
}
.article-tag h3, h4 {
	text-align: center;
}
.article-tag h3 {
	font-weight: 700;
	margin-bottom: 0;
	color:#232323;
}
.article-tag h4 {
	font-weight: 300;
	margin-bottom: 0;
	color:#999;
}
.article-tag a {
	color: #232323;
	opacity: 0.5;
}
.article-tag span {
	display:inline-block;
	padding:0 0.5em;
}

/*Utility*/

.padding-top-s {
	padding-top:10px;
}
.padding-top-m {
	padding-top:20px;
}
.padding-top-l {
	padding-top:40px;
}
.padding-bottom-s {
	padding-bottom:10px;
}
.padding-bottom-m {
	padding-bottom:20px;
}
.padding-bottom-l {
	padding-bottom:40px;
}
.margin-top-s {
	margin-top:10px;
}
.margin-top-m {
	margin-top:20px;
}
.margin-top-l {
	margin-top:40px;
}
.margin-bottom-s {
	margin-bottom:10px;
}
.margin-bottom-m {
	margin-bottom:20px;
}
.margin-bottom-l {
	margin-bottom:40px;
}

/*Clearfix*/

.clearfix:before,
.clearfix:after {
  content:"";
  display:table;
}
.clearfix:after {
  clear:both;
}
.clearfix {
  zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

/*Display an alignment*/

.inline-block {
	display:inline-block;
}
.inline-block li {
	display:inline-block;
}
.centered {
	text-align: center;
}
.left-col {
	float: left;
}
.right-col {
	float: right;
}
.width-35 {
	width: 35%;
	padding-left: 10px;
}
.width-65 {
	width: 65%;
	padding-right: 10px;
}

/*Modules*/

/*Box*/

.box {
	padding: 20px 30px;
	border-radius: 5px;
	color: #fff;
	box-shadow: 0 0 0 1px rgba(255,255,255,0.05), inset 0 0 0.25em 0 rgba(0,0,0,0.25);
}
.box--logo {
	background-color: #c94663;
}
.box--logo a{
	color: #fff;
}
.box--info {
	padding: 1em;
	background-color:#272E39;
}

/*Section*/

.section {
	margin-bottom: 30px;
}
.section-hr:before {
	content: '';
	border-top: solid 1px;
	border-bottom: solid 1px;
	border-color: #171E29;
	border-color: rgba(0,0,0,0.25);
	box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,0.075), 0px 1px 0px 0px rgba(255,255,255,0.075);
	display: block;
	height: 0.5em;
	margin: 0 0 2em 0;
}

/*Navigation*/

.nav li{
	padding: 5px;
}
.nav--vertical li {
	border-top: solid 1px rgba(0,0,0,0.25);
	box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,0.075);
	padding: 0.5em 0 0.5em 0;
}
.nav--vertical li:first-child {
	border: 0;
	box-shadow: none;
	padding-top: 0;
}
.nav--vertical li a {
	padding: 0
}
.nav--vertical-primary li a{
	display: block;
	padding: 0.4em 1em 0.4em 1em;
	text-decoration: none;
	border-radius: 0.4em;
	outline: 0;
	-moz-transition: background-color .25s ease-in-out, color .25s ease-in-out;
	-webkit-transition: background-color .25s ease-in-out, color .25s ease-in-out;
	-o-transition: background-color .25s ease-in-out, color .25s ease-in-out;
	-ms-transition: background-color .25s ease-in-out, color .25s ease-in-out;
	transition: background-color .25s ease-in-out, color .25s ease-in-out;
}
.nav--vertical-primary li a.current {
	background-color: #272E39;
	background-color: rgba(0,0,0,0.15);
	box-shadow: 0 0 0 1px rgba(255,255,255,0.05), inset 0 0 0.25em 0 rgba(0,0,0,0.25);
	font-weight: 700;
	color: #fff;
}
.nav--vertical-primary li a:hover {
	background-color: #272E39;
	background-color: rgba(0,0,0,0.15);
	box-shadow: 0 0 0 1px rgba(255,255,255,0.05), inset 0 0 0.25em 0 rgba(0,0,0,0.25);
	color: #fff;
}

/*Search*/

.search form {
	position: relative;
}
.search input {
	display: block;
	border-radius: 0.4em;
	-webkit-appearance: none;
	border: solid 1px #ddd;
	transition: all 0.3s ease-in-out;
	padding: 0.5em 0.75em;
	width: 100%;
	line-height: 1.25em;
	padding-right: 34px;
}
.search form:before {
	display: inline-block;
	font-family: FontAwesome;
	font-size: 18px;
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
	content: '\f002';
	transform: scale(-1, 1);
	position: absolute;
	right: 0.5em;
	top: 0.25em;
	z-index: 1;
	text-shadow: none;
	color: #c8ccce;
}
.search input:focus {
	box-shadow: 0 0 5px #fff;
	padding: 0.5em 0.75em;
}

/*Social share*/

.social-icons {

}

.social-icons--vertical {
	border-top: solid 1px #ddd;
	margin-top: 1em;
	padding-top: 0.75em;
}
.social-icons--vertical a:hover{
	opacity: 1;
}

/*Icon*/

.icon {
	position: relative;
	text-decoration: none;
}

.icon:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-transform: none !important;
}

/*Tags*/

.post-tags li
{
	padding:0.2em;
}

.tag1 {
	font-size: 15px;
}

.tag2 {
	font-size: 20px;
}

/*Resposnive*/

@media (max-width: 1200px)
{
	/*Layout*/

	.l-sidebar, .l-content {
		float: none;
	}

	.l-sidebar {
		padding: 10px;
		width: 100%;
	}
	.l-content {
		width: 100%;
	}
	.section {
		display: none;
	}

	.section-hr:before {
		display: none;
	} 

	/*	Modules*/

	.nav--vertical-primary.section {
		display: block;
		margin-bottom: 0;
	}

	.nav--vertical-primary li {
		display: inline-block;
		border: 0;
		box-shadow: none;
	}

	.articles {
		margin: 0;
		padding: 20px;
		width: 100%;
	}

	.article {
		padding-top: 20px;
	}

	.article-rag {
		display: none;
	}

	/*Typography*/

	h1 {
		font-size: 2.50em;
		line-height: 1em;
	}

	h3 {
		font-size: 1.7em;
	}

}