binding:  {{ asd }}

<ul class="left-col width-65">
    <li>
        <h2><a href="#/details">My first blog post</a></h2>
        <article>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque...</p>
        </article>
    </li>
    <li>
        <h2><a href="#/details">My second blog post</a></h2>
        <article>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque...</p>
        </article>
    </li>
    <li>
        <h2><a href="#/details">My third blog post</a></h2>
        <article>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque...</p>
        </article>
    </li>
</ul>