<article class="left-col width-65">
    <header class="margin-bottom-s">
        <time class="margin-bottom-s inline-block"><h2>2004-02-28, 15:19:21</h2></time>
        <h1><a href="#">My first blog post</a></h1>
    </header>
    <article>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
        <figure>
            <img src="images/mermaid.jpg">
            <figcaption>These are some beautiful stickers, sent to me by my friend Dessy</figcaption>
        </figure>
        <figure>
            <img src="images/flowers.jpg">
            <figcaption>Flowers from my handsome boyfriend, who's so kind to help me out with the blog</figcaption>
        </figure>
    </article>
    <ul class="post-tags inline-block margin-top-m">
        <li>Beauty</li>
        <li>Life</li>
        <li>Fun</li>
    </ul>
</article>