@charset 'UTF-8';
@import url("font-awesome.min.css");
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,700|Open+Sans+Condensed:300,700");

/*General*/
* {

    box-sizing: border-box;
}

:after,:before {

    box-sizing: border-box;
}

html,body {
	height: 100%;
}
body {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 16px;
	line-height: 1.75em;
}

body,input,textarea,select {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	color: #565656;
}

/*Typography*/

h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700;
	color: #232323;
}
h1 {
	font-size: 2.5em;
	line-height: 1.25em;
	margin-bottom: 0.5em;
}
h1 a{
	color: #232323;
}
h2 {
	font-weight: 700;
	font-size: 2em;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}
h2 a {
	color: #fff;
}
h3 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 300;
	margin-bottom: 0.2em;
	color: #999;
	font-size: 2.25em;
	line-height: 1.2em;
}
h4 {
	font-size: 1.2em;
	color: #fff;
	margin-bottom: 1em;
}
a {
	text-decoration: none;
}
p {
	font-size: 100%;
	margin-bottom: 0.3em;
}
img {
	margin-bottom: 0.3em;
}

/*Layout*/

body
{
	background-color: #e8e8e8;
}

.l-container
{
	display: table;
	height: 100%;
	width: 1070px;
	margin: 0 auto;
}
.l-sidebar
{
	display: table-cell;
	height: 100%;
	width: 20%;
	padding: 3em 1.5em;
	background-color: #364050;
	vertical-align:top;
}
.l-sidebar a {
	color: #d4dde0;
}
.l-content
{
	display: table-cell;
	height: 100%;
	width: 80%;
	background-color: #e8e8e8;
	box-shadow: 0 0 0.25em 0em rgba(0,0,0,0.25);
	background-color: #fff;
	padding: 3em;
	vertical-align:top;
}

.article {
	margin-bottom: 3em;
	position: relative;
}
/*Article content*/
.article-content *{
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 0;
}
.article-content img{
	padding: 1em 0;
}
.article-content p {
	margin-bottom: 1em;
}
.article-content ul {
	list-style: disc;
}
.article-content h1, .article-content h2, .article-content h3, .article-content h4, .article-content h5, .article-content h6 {
	color: #565656;
}
.article-content h1 {
	font-size: 2.3em;
}
.article-content h2 {
	font-size: 1.9em;
}
.article-content h3 {
	font-size: 1.5em;
}
.article-content h4 {
	font-size: 1.2em;
}
.article-content h5 {
	font-size: 0.9em;
}
.article-content h6 {
	font-size: 0.8em;
}
.article-tag {
	padding: 0.5em;
	padding-right: 0;
	position: absolute;
	left: -8em;
	top: 0;
	width: 5em;
	background-color: #fff;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	box-shadow: 0.25em 0 0 0 #fff, 0 0 0.25em 0em rgba(0,0,0,0.25);
	box-shadow-right: none;
}
.article-tag h3, h4 {
	text-align: center;
}
.article-tag h3 {
	font-weight: 700;
	margin-bottom: 0;
	color:#232323;
}
.article-tag h4 {
	font-weight: 300;
	margin-bottom: 0;
	color:#999;
}
.article-tag a {
	color: #232323;
	opacity: 0.5;
}
.article-tag span {
	display:inline-block;
	padding:0 0.5em;
}

/*Exercise*/

.exercise {
	margin-bottom: 1em;
	border: 1px solid #f0f0f0;
}
.exercise-title {
	padding: 0.5em;
}
.exercise-title h2{
	color:#c94663;
	font-size: 1.3em;
	text-transform: none;
}
.exercise-content {
	padding: 0.5em;
	border-top: 1px solid #f0f0f0;
}
.exercise-content h3{
	margin-bottom: 0.3em;
	font-size: 1.2em;
	color: #999;
}
.exercise-content ul{
	margin-bottom:0.5em;
	margin-left: 0;
	padding-left: 0;
	list-style: none;
}
.exercise-content li a{
	color: #565656;
	text-decoration: underline;
}

/*Utility*/

.padding-top-s {
	padding-top:10px;
}
.padding-top-m {
	padding-top:20px;
}
.padding-top-l {
	padding-top:40px;
}
.padding-bottom-s {
	padding-bottom:10px;
}
.padding-bottom-m {
	padding-bottom:20px;
}
.padding-bottom-l {
	padding-bottom:40px;
}
.margin-top-s {
	margin-top:10px;
}
.margin-top-m {
	margin-top:20px;
}
.margin-top-l {
	margin-top:40px;
}
.margin-bottom-s {
	margin-bottom:10px;
}
.margin-bottom-m {
	margin-bottom:20px;
}
.margin-bottom-l {
	margin-bottom:40px;
}
.help-text {

	margin-bottom: 0.5em;
	font-size: 0.9em;
	line-height: 0.9em;
	color: #999;
}

/*Forms*/

.form-control input, .form-control textarea, .form-control select  {
	width: 100%;
	border: 1px solid #e8e8e8;
	padding: 0.1em;
	margin-bottom: 1em;
	border-radius: 5px;
}

.form-control-s {

	width: 30%;
}

.form-control-m {

	width: 60%;
}

button, .button {
	background-color: #c94663;
	background-image: none;
	font-weight: bold;
	color: #fff;
	padding: 1em 1.5em;
	border: 0;
	border-radius: 5px;
}
/*Clearfix*/

.clearfix:before,
.clearfix:after {
  content:"";
  display:table;
}
.clearfix:after {
  clear:both;
}
.clearfix {
  zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

/*Display an alignment*/

.inline-block {
	display:inline-block;
}
.inline-block li {
	display:inline-block;
}
.centered {
	text-align: center;
}
.left-col {
	float: left;
}
.right-col {
	float: right;
}

/*Modules*/

/*Box*/

.box {
	padding: 1.5em 2em;
	border-radius: 5px;
	color: #fff;
	box-shadow: 0 0 0 1px rgba(255,255,255,0.05), inset 0 0 0.25em 0 rgba(0,0,0,0.25);
}
.box--logo {
	background-color: #c94663;
}
.box--logo a{
	color: #fff;
}
.box--info {
	padding: 1em 0.4em;
	background-color:#272E39;
}

/*Section*/

.section {
	margin-bottom: 2em;
}
/*Navigation*/

.nav li{
	padding: 5px;
}
.nav--vertical li {
	padding: 0 0 0.5em 0;
}
.nav--vertical li:first-child {
	border: 0;
	box-shadow: none;
	padding-top: 0;
}
.nav--vertical li a {
	padding: 0
}
.nav--vertical ul {
	margin-left: 0.7em;
}
.nav--vertical-primary li a{
	display: block;
	padding: 0.4em 1em 0.4em 1em;
	text-decoration: none;
	border-radius: 0.4em;
	outline: 0;
	transition: background-color .25s ease-in-out, color .25s ease-in-out;
}
.nav--vertical-primary li a.current {
	background-color: #272E39;
	background-color: rgba(0,0,0,0.15);
	box-shadow: 0 0 0 1px rgba(255,255,255,0.05), inset 0 0 0.25em 0 rgba(0,0,0,0.25);
	font-weight: 700;
	color: #fff;
}
.nav--vertical-primary li a:hover {
	background-color: #272E39;
	background-color: rgba(0,0,0,0.15);
	box-shadow: 0 0 0 1px rgba(255,255,255,0.05), inset 0 0 0.25em 0 rgba(0,0,0,0.25);
	color: #fff;
}

/*Search*/

.search form {
	position: relative;
}
.search input {
	display: block;
	border-radius: 0.4em;
	-webkit-appearance: none;
	border: solid 1px #ddd;
	transition: all 0.3s ease-in-out;
	padding: 0.5em 0.75em;
	width: 100%;
	line-height: 1.25em;
	padding-right: 2em;
}
.search form:before {
	display: inline-block;
	font-family: FontAwesome;
	font-size: 18px;
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
	content: '\f002';
	transform: scale(-1, 1);
	position: absolute;
	right: 0.5em;
	top: 0.25em;
	z-index: 1;
	text-shadow: none;
	color: #c8ccce;
}
.search input:focus {
	box-shadow: 0 0 5px #fff;
	padding: 0.5em 0.75em;
}

/*Social share*/
.social-icons li {
	margin: 0 0.5em;
}
.social-icons a{
	color: #232323;
	text-decoration: underline;
}
.social-icons i {
	padding-right: 0.3em;
}
.social-icons--vertical {
	margin-top: 1em;
	padding-top: 0.75em;
}
.social-icons--vertical a:hover{
	opacity: 1;
}
/*Icon*/

.icon {
	position: relative;
	text-decoration: none;
}

.icon:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-transform: none !important;
}

/*Tags*/

.post-tags li
{
	padding:0.2em;
}
.post-tags li a:hover
{
	text-decoration: underline;
}
a.tag1 {
	font-size: 0.9em;
}
a.tag2 {
	font-size: 1.1em;
}
a.tag3 {
	font-size: 1.3em;
}
a.tag4 {
	font-size: 1.5em;
}
a.tag5 {
	font-size: 1.7em;
}

.post-tags--content li {
	margin-right: 0.4em;
	padding: 0;
}
.post-tags--content a {
	padding: 0.2em 0.5em 0.2em 0.5em;
	background-color: #272E39;
	box-shadow: 0 0 0 1px rgba(255,255,255,0.05), inset 0 0 0.25em 0 rgba(0,0,0,0.25);
	border-radius: 5px;
	color: #fff;
}

/*Comments*/
.comments .comments-list {
	margin-bottom: 1em;
	margin-top: 1em;
}
.comments .comments-list li
{
	padding-bottom: 0.5em;
	margin-top: 0.5em;
	border-bottom: 1px solid #e8e8e8;
}

.comments textarea {
	height: 8em;
}

/*Avatar*/

.avatar img{
	border-radius: 50%;
}

/*Resposnive*/

@media (max-width: 1250px)
{
	/*Layout*/

	.l-container{
		display: block;
		width: auto;
		height: 100%;
	}
	.l-content {
	 	min-height: 100%;
	 	/* equal to footer height */
	 	margin-bottom: -120px; 
	}
	.l-content:after{
	   content: "";
	   display: block;
	   height: 120px;
	}
	.l-sidebar, .l-content {
		display: block;
		height: auto;
	}
	.l-sidebar {
		width: 100%;
		padding: 20px;
		height: 142px;
	}
	.l-content {
		width: 100%;
		padding: 1em;
	}
	.section {
		display: none;
	}

	/*	Modules*/

	.nav--vertical-primary.section {
		display: block;
		margin-bottom: 0;
	}
	.nav--vertical-primary li {
		display: inline-block;
		border: 0;
		box-shadow: none;
	}
	.articles {
		margin: 0;
		padding: 1.5em;
		width: 100%;
	}

	.article {
		padding-top: 1.5em;
	}
	.article-rag {
		display: none;
	}

	div.form-control{
		width: 100%;
	}
	div.form-control input{
		height: 2.5em;
	}

	.about {
		padding-top: 1em;
		height: 100%;
	}

	/*Typography*/

	body {

		font-size: 16px;
	}

	h1 {
		font-size: 2.50em;
		line-height: 1em;
	}

	h3 {
		font-size: 1.7em;
	}

}