<section class="margin-bottom-l">
    <header class="margin-top-s margin-bottom-s"><h2>Blog archive</h2></header>
    <ul>
        <li><a href="#">August (52)</a>
            <ul>
                <li><a href="#">Vel illum qui dolorem eum fugiat quo voluptas</a></li>
                <li><a href="#">Reprehenderit qui in ea voluptate velit</a></li>
            </ul>
        </li>
        <li><a href="#">September (12)</a></li>
        <li><a href="#">October (45)</a></li>
        <li><a href="#">November (36)</a></li>
        <li><a href="#">December (24)</a></li>
    </ul>
</section>